<div class="px-4 sm:px-0">
  <div class="sm:flex sm:items-center mb-6">
    <div class="sm:flex-auto">
      <h1 class="text-3xl font-bold text-gray-900">Edit Unit of Measurement</h1>
      <p class="mt-2 text-sm text-gray-500">Update unit of measurement information.</p>
    </div>
  </div>

  <div class="bg-white shadow sm:rounded-lg">
    <div class="px-4 py-5 sm:p-6">
      <%= render 'form' %>
    </div>
  </div>
</div>

