option_settings:
  aws:elasticbeanstalk:container:ruby:
    ruby_version: 3.4
  aws:elasticbeanstalk:application:environment:
    RAILS_ENV: production
    RACK_ENV: production
    RAILS_SERVE_STATIC_FILES: true
    RAILS_LOG_TO_STDOUT: true
    BUNDLE_WITHOUT: "development:test"
  aws:elasticbeanstalk:environment:process:default:
    HealthCheckPath: /up
    MatcherHTTPCode: 200

